@import '../../utils'

.midi-connector
  +phablet-portrait
    position: sticky
    bottom: 0

.dropdown
  -webkit-appearance: none
  appearance: none
  background-repeat: no-repeat
  background-position: right 5px top 50%