@import '../../utils'

.button
  // height: 56px
  background-color: var(--color-bg)
  border-radius: rem(6)
  border: solid rem(1) var(--color-corn)
  color: var(--color-corn)
  padding: rem(20) rem(30)
  width: rem(233)
  text-transform: uppercase
  font-size: rem(12)
  margin: 0 rem(10)

.button-upload
  cursor: pointer
  display: block
  text-align: center
  background-repeat: no-repeat
  background-position: left 5% top 50%
  > input
    display: none