@import '../../utils'

.button
  background-color: var(--color-bg)
  border-radius: .6rem
  border: solid .1rem var(--color-corn)
  color: var(--color-corn)
  padding: 2rem 3rem
  width: 23.3rem
  text-transform: uppercase
  font-size: 1.2rem
  margin: 0 1rem

.button-upload
  cursor: pointer
  display: block
  text-align: center
  background-repeat: no-repeat
  background-position: left 5% top 50%
  background-image: url("../../images/icon-upload.svg")

.button-upload--input
  width: .01rem
  height: .01rem
  opacity: 0
  overflow: hidden
  position: absolute
  z-index: -1
  &:focus + .button-upload,
  & + .button-upload:hover
    border-color: yellow
  &:focus + .button-upload
    outline: 1px dotted #000
    outline: -webkit-focus-ring-color auto 5px
