@import '../../utils'

.pad-grid
  display: grid
  grid-auto-rows: 1fr
  grid-gap: rem(10)
  
  &::before
    content: ''
    width: 0
    padding-bottom: 100%
    grid-row: 1 / 1
    grid-column: 1 / 1

  & > *:first-child
    grid-row: 1 / 1
    grid-column: 1 / 1

  &-4
    grid-template-columns: repeat(4, minmax(var(--pad-min-size), 1fr))
    // grid-template-columns: repeat(auto-fill, minmax(var(--pad-min-size), 1fr))

  +tablet-portrait
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: 1fr

  +phablet-portrait
    grid-template-columns: repeat(3, 1fr)

  +phone-portrait
    grid-template-columns: repeat(2, auto)
    max-width: calc((100vh - #{$header-height}) / 3 * 2)
    width: 100%
    margin-left: auto
    margin-right: auto

.pad
  background: radial-gradient(circle at 50% 27%, #292929, #1a1a1a 92%)
  
  &.lit
    background: blue